*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Stuff
/target
/.classpath
/.project
/.settings
.idea
*.ipr
*.iws
*.iml
/test-output
/logs
/src/main/logs
/bin
/maven-eclipse.xml
/config_override
/files
